#page_wrapper {
    max-width: 1000px; /* Set a maximum width for the form */
    margin: 0 auto; /* Center the form horizontally */
    padding: 20px; /* Add padding for better spacing */
    border:solid;
    background-color:aliceblue;

}
